apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../../../../../manifests/app/operators/elasticsearch-operator/base
- ../../../../../manifests/app/operators/kiali-operator/base
- ../../../../../manifests/app/operators/jaeger-operator/base
- ../../../../../manifests/app/operators/servicemesh-operator/base

resources:
- istio-namespace.yaml