apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: prometheus-datasource
spec:
  name: prometheus-datasource.yaml
  datasources:
    - name: DS_PROMETHEUS
      type: prometheus
      access: proxy
      url: http://prometheus.prometheus:9090
      isDefault: true
      editable: true
      jsonData:
        tlsSkipVerify: true
        timeInterval: "5s"
